<h1>Add New Coupon</h1>

<%= render partial: 'form', locals: {path: '/merchant/coupons',
                                    method: :post,
                                    submit_text: 'Add Coupon',
                                    name_var: nil,
                                    code_var: nil,
                                    percent_var: nil } %>
