/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html {
   background-color: #FDDEF3;
 }

 body {
   background-color: #FDDEF3;
 }

 a {
   text-decoration: none;
 }

 button {

 }

 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #340926;
  text-align: center;
  padding: 8px;
}

form {
  align-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

input[type=email], select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

 .card-columns {
   column-count: 5;
 }

 .navbar-color {
   background-color: #AE0D7A;
   color: white;
 }

 .navbar-color a {
   color: white;
 }

 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }

 .grid-item{
 	background-color: #AE0D7A;
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #340926;
 	text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
 }

 .grid-item a {
   color: white;
 }

 .item-card {
   width: 12rem;
   height: 550px;
   padding: 3px;
   border: solid;
   border-color: #340926;
   background-color: #AE0D7A;
   color: white;
 }

 .item-card img {
   width: 12.25rem;
   padding: 0px;
 }

 .item-card a {
   color: white;
 }

 .coupon {
   color: #f00
 }

 #cart-image{
  width:50px;
}
