<h1>Users</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Registered</th>
  </thead>
  <tbody>
<% @users.each do |user| %>
 <tr id="user-<%= user.id %>">
    <td><%= link_to user.name, "/admin/users/#{user.id}" %></td>
    <td>Role: <%= user.role %></td>
    <td>Registered: <%= user.created_at %></td>
 </tr>
<% end %>
</tbody>
</table>
